
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
    margin: 5px 0;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}

#selectedItems {
    font-weight: bold;
    color: #007bff;
}

  body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .form-title {
            text-align: center;
            color: #4CAF50;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 5px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .checkbox-group {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .checkbox-group label {
            display: flex;
            align-items: center;
        }

        input[type="checkbox"] {
            margin-right: 8px;
        }

        button {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }


#successMessage {
    display: none; /* Initially hide the success message */
    color: #28a745; /* Green color */
    font-size: 14px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #d4edda; /* Light green background color */
}