body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#associations-container, #item-details-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure flex items are evenly distributed */
}

.outer-container {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Ensure borders don't overlap with other flex items */
}

.submeter-block {
    padding: 10px;
    flex: 1;
}

.submeter-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.appliances-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appliance-item {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    padding: 10px;
    color: #333;
    transition: background-color 0.3s ease;
}

.appliance-item:hover {
    background-color: #d2d7d3;
}

.details-list {
    list-style-type: none;
    padding: 0;
}

.details-list li {
    margin-bottom: 8px;
    color: #555;
}


/* ... (previous styles) */

.outer-container {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Ensure borders don't overlap with other flex items */
}

.submeter-block {
    padding: 10px;
    flex: 1;
}

.submeter-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Align icon and text vertically */
}

.submeter-name i {
    margin-right: 10px; /* Adjust margin for spacing between icon and text */
}
